<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
</head>
<body>

<div th:if="${movies.size() > 0}" class="col-12">
    <form th:method="POST" th:action="@{/ticketOrder}">
    <table>
        <thead>
        <tr>
            <th>Movie Name</th>
            <th>Movie Summary</th>
            <th>Movie Rating</th>
            <th>Production</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td>
                <label>
                    <input type="radio" name="selectedMovie" th:value="${movie.getTitle()}"
                           th:text="${movie.getTitle()}">
                </label>
            </td>
            <td th:text="${movie.getSummary()}"></td>
            <td th:text="${movie.getRating()}"></td>
            <td th:text="${movie.getProduction() != null} ? ${movie.getProduction().getName()} : 'No production'"></td>
            <td>
                <a th:href=" @{/movies/delete/{id} (id=${movie.getId()})}">
                    Delete
                </a>
                <a th:href="@{/movies/edit-form/{id} (id=${movie.getId()})}">Edit</a>
            </td>
        </tr>

        </tbody>
    </table>
    <h2>Choose number of tickets:</h2>
    <input type="number" name="numOfTickets" min="1" max="10"><br/>
    <br/>
    <input type="submit" value="Submit">

</form></div>
<div>
    <a th:href="@{/movies/add-form}" >Add new movie</a>
</div>
</body>
</html>